<kt-portlet>
	
	<kt-portlet-body>
		<div class="row">
			<div class="col-md-3">
				<mat-form-field class="example-full-width">
					<mat-label>Search in table</mat-label>
					<input matInput (keyup)="applyFilter_by_vender($event)" placeholder="Ex. ium">
				</mat-form-field>
			</div>
		</div>
		<div class="example-container ">
			<div class="example-loading-shade" *ngIf="isLoadingResults">
				<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
			</div>
			<div class="example-table-container">
				<mat-table #mattbl_by_vender [dataSource]="dataSource_by_vender" matSort>

					<!-- Column -->
					<ng-container matColumnDef="displayBusinessName">
						<mat-header-cell *matHeaderCellDef mat-sort-header> Business Name </mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.displayBusinessName}} </mat-cell>
					</ng-container>

					<!-- Column -->
					<ng-container matColumnDef="venderFullName">
						<mat-header-cell *matHeaderCellDef mat-sort-header> Vender Name </mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.venderFullName}} </mat-cell>
                    </ng-container>
                    
					<!-- Column -->
					<ng-container matColumnDef="totalCount">
						<mat-header-cell *matHeaderCellDef mat-sort-header> Total Count </mat-header-cell>
						<mat-cell *matCellDef="let element"> 
                            <span *ngIf="element.totalCount > 2000" class="kt-badge kt-badge--unified-success fa-2x kt-badge--bolder kt-badge--inline kt-badge--md kt-badge--rounded  kt-badge--wide">{{element.totalCount}}</span>
                            <span *ngIf="element.totalCount < 1999 && element.totalCount > 1500" class="kt-badge kt-badge--unified-warning fa-2x kt-badge--bolder kt-badge--inline kt-badge--md kt-badge--rounded  kt-badge--wide">{{element.totalCount}}</span>
                            <span *ngIf="element.totalCount < 1499 && element.totalCount > 1000" class="kt-badge kt-badge--unified-danger fa-2x kt-badge--bolder kt-badge--inline kt-badge--md kt-badge--rounded  kt-badge--wide">{{element.totalCount}}</span>
                            <span *ngIf="element.totalCount < 999 && element.totalCount > 500" class="kt-badge kt-badge--unified-info fa-2x kt-badge--bolder kt-badge--inline kt-badge--md kt-badge--rounded  kt-badge--wide">{{element.totalCount}}</span>
                            <span *ngIf="element.totalCount < 499" class="kt-badge kt-badge--unified-dark fa-2x kt-badge--bolder kt-badge--inline kt-badge--md kt-badge--rounded  kt-badge--wide">{{element.totalCount}}</span>
							
                        </mat-cell>
					</ng-container>
				
					<!-- Column -->
					<ng-container matColumnDef="totalAmount">
						<mat-header-cell *matHeaderCellDef mat-sort-header> Total Amount </mat-header-cell>
						<mat-cell *matCellDef="let element"> ${{element.totalAmount}} </mat-cell>
					</ng-container>
				
					
					<mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
				</mat-table>

				<mat-paginator #mat_pag_by_vender [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
			</div>
        </div>
	</kt-portlet-body>
</kt-portlet>
