<kt-portlet>
	<!-- See prop => '../../_core/models/data-sources/_base.datasource.ts' (loading$) -->
	<kt-portlet-header [class]="'kt-portlet__head--lg'">
		<!-- PORTLET LOADING | Binded to TABLE Datasource -->

		<ng-container ktPortletTitle>
			<h3 class="kt-portlet__head-title">
				<span>Category list</span>
			</h3>
			<!-- For localisations we use @ngx-translate | See off. documentations => https://github.com/ngx-translate/core -->
			<!-- Localization libraries (en/fr) are here => '../../../.././config/i18n/en.ts|fr.ts' -->
		</ng-container>

		<ng-container ktPortletTools>
			
			<button *ngIf="this.selection.selected.length != 0" class="mr-2" (click)="getselected()" mat-raised-button matTooltip="Create new customer" color="primary" type="button">
				<span>Get Selected</span>
			</button>
			<button (click)="openDialog()" mat-raised-button matTooltip="Create new customer" color="primary" type="button">
				<span>Add New Category</span>
			</button>
			<!-- Buttons (Material Angular) | See off.documenations 'https://material.angular.io/components/button/overview' -->
			<!-- mat-raised-button | Rectangular contained button w/ elevation  -->
		</ng-container>
	</kt-portlet-header>
	<!-- end::Header -->

	<kt-portlet-body>
		<div class="row">
			<div class="col-md-3">
				<mat-form-field>
					<mat-label>Search in table</mat-label>
					<input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
				</mat-form-field>
			</div>
		</div>
		<div class="example-container ">
			<div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
				<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
				<div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
					GitHub's API rate limit has been reached. It will be reset in one minute.
				</div>
			</div>
			<div class="example-table-container">
				<mat-table [dataSource]="dataSource" matSort>

					<!-- Checkbox Column -->
					<ng-container matColumnDef="select">
						<mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
							<mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
							</mat-checkbox>
						</mat-header-cell>
						<mat-cell *matCellDef="let row" class="mat-column-checkbox">
							<mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
							</mat-checkbox>
						</mat-cell>
					</ng-container>

					<!-- Position Column -->
					<ng-container matColumnDef="id">
						<mat-header-cell *matHeaderCellDef class="mat-column-id"> Id. </mat-header-cell>
						<mat-cell *matCellDef="let element" class="mat-column-id"> {{element.id}} </mat-cell>
					</ng-container>

					<!-- Position Column -->
					<ng-container matColumnDef="pCatId">
						<mat-header-cell *matHeaderCellDef class="mat-column-id"> pCatId. </mat-header-cell>
						<mat-cell *matCellDef="let element" class="mat-column-id"> {{element.pCatId}} </mat-cell>
					</ng-container>

					<!-- Name Column -->
					<ng-container matColumnDef="name">
						<mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
					</ng-container>

					<!-- Action Column -->
					<ng-container matColumnDef="actions">
						<mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
						<mat-cell *matCellDef="let element">

								<button mat-icon-button color="primary" matTooltip="Edit customer" (click)="editelement(element)">
									<mat-icon>create</mat-icon>
								</button>&nbsp;

								<button mat-icon-button color="warn" matTooltip="Delete element" type="button" (click)="deleteelement(element)">
									<mat-icon>delete</mat-icon>
								</button>&nbsp;

						</mat-cell>
					</ng-container>


					<mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">></mat-row>
				</mat-table>

				<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
			</div>
		</div>
	</kt-portlet-body>
</kt-portlet>
