<kt-portlet>
	<kt-portlet-header [class]="'kt-portlet__head--lg'">
		<ng-container ktPortletTitle>
			<h3 class="kt-portlet__head-title">
				<span>Product list</span>
			</h3>
		</ng-container>
		<ng-container ktPortletTools>
			<button (click)="openDialog()" mat-raised-button matTooltip="Create new Deal" color="primary" type="button">
				<span>New Deal</span>
			</button>
			<span></span>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<div class="row">
			<div class="col-md-3">
				<mat-form-field>
					<mat-label>Search in table</mat-label>
					<input matInput (keyup)="applyFilter_coupon($event)" placeholder="Ex. ium">
				</mat-form-field>
			</div>
		</div>
		<div class="example-container ">
			<div class="example-loading-shade" *ngIf="isLoadingResults">
				<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
			</div>
			<div class="example-table-container">
				<mat-table #mattbl_coupon [dataSource]="dataSource_coupon" matSort>

					<!-- Column -->
					<ng-container matColumnDef="coupCode">
						<mat-header-cell *matHeaderCellDef> Coupon Code </mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.coupCode}} </mat-cell>
					</ng-container>

					<!-- Column -->
					<ng-container matColumnDef="name">
						<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
					</ng-container>

					<!-- Column -->
					<ng-container matColumnDef="discountType">
						<mat-header-cell *matHeaderCellDef mat-sort-header class="justify-content-center"> Discount Type </mat-header-cell>
						<mat-cell *matCellDef="let element" class="justify-content-center">
							<span *ngIf="element.discountType == 1" class="kt-badge kt-badge--success kt-badge--inline kt-badge--pill">Flat</span>
							<span *ngIf="element.discountType == 2" class="kt-badge kt-badge--info kt-badge--inline kt-badge--pill">Percentage</span>
						</mat-cell>
					</ng-container>

					<!-- Column -->
					<ng-container matColumnDef="discountAmount">
						<mat-header-cell *matHeaderCellDef mat-sort-header> Discount Amount </mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.discountAmount}} </mat-cell>
					</ng-container>

					<!-- Column -->
					<ng-container matColumnDef="startDate">
						<mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.startDate | date }} </mat-cell>
					</ng-container>

					<!-- Column -->
					<ng-container matColumnDef="endDate">
						<mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.endDate | date }} </mat-cell>
					</ng-container>

					<!-- Column -->
					<ng-container matColumnDef="action">
						<mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
						<mat-cell *matCellDef="let element">
							<button mat-icon-button color="primary" matTooltip="Edit customer" (click)="editelement(element)">
								<mat-icon>create</mat-icon>
							</button>&nbsp;

							<button mat-icon-button color="warn" matTooltip="Delete element" type="button" (click)="RemoveCoupon(element)">
								<mat-icon>delete</mat-icon>
							</button>&nbsp;
						</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
				</mat-table>

				<mat-paginator #mat_pag_coupon [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
			</div>
		</div>
	</kt-portlet-body>
</kt-portlet>
