<div class="row">
	<div class="col-md-4">
		<kt-portlet>
			<kt-portlet-header [class]="'kt-portlet__head--lg'">
				<ng-container ktPortletTitle>
					<h3 class="kt-portlet__head-title">
						<span>Citys list</span>
					</h3>
				</ng-container>
				<ng-container ktPortletTools>

					<button (click)="openDialog(1)" mat-raised-button matTooltip="Create new Citys" color="primary" type="button">
						<span>New Citys</span>
					</button>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>
				<div class="row">
					<div class="col-md-3">
						<mat-form-field>
							<mat-label>Search in table</mat-label>
							<input matInput (keyup)="applyFilter_Citys($event)" placeholder="Ex. ium">
						</mat-form-field>
					</div>
				</div>
				<div class="example-container ">
					<div class="example-loading-shade" *ngIf="isLoadingResults">
						<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
					</div>
					<div class="example-table-container">
						<mat-table #mattbl_Citys [dataSource]="Citys" matSort>

							<!-- Position Column -->
							<ng-container matColumnDef="id">
								<mat-header-cell *matHeaderCellDef class="mat-column-id"> Id. </mat-header-cell>
								<mat-cell *matCellDef="let element" class="mat-column-id"> {{element.id}} </mat-cell>
							</ng-container>

							<!-- Position Column -->
							<ng-container matColumnDef="vid">
								<mat-header-cell *matHeaderCellDef class="mat-column-id"> Vender Id. </mat-header-cell>
								<mat-cell *matCellDef="let element" class="mat-column-id"> {{element.vid}} </mat-cell>
							</ng-container>

							<!-- Name Column -->
							<ng-container matColumnDef="name">
								<mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
								<mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
							</ng-container>

							<!-- Action Column -->
							<ng-container matColumnDef="actions">
								<mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
								<mat-cell *matCellDef="let element">

									<button mat-icon-button color="primary" matTooltip="Edit customer" (click)="editelement(element,1)">
										<mat-icon>create</mat-icon>
									</button>&nbsp;

									<button mat-icon-button color="warn" matTooltip="Delete element" type="button" (click)="RemoveCity(element)">
										<mat-icon>delete</mat-icon>
									</button>&nbsp;

								</mat-cell>
							</ng-container>


							<mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
							<mat-row *matRowDef="let row; columns: displayedColumns;">></mat-row>
						</mat-table>
						<mat-paginator #mat_pag_Citys [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
					</div>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<div class="col-md-4">
		<kt-portlet>
			<kt-portlet-header [class]="'kt-portlet__head--lg'">
				<ng-container ktPortletTitle>
					<h3 class="kt-portlet__head-title">
						<span>States list</span>
					</h3>
				</ng-container>
				<ng-container ktPortletTools>

					<button (click)="openDialog(2)" mat-raised-button matTooltip="Create new States" color="primary" type="button">
						<span>New States</span>
					</button>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>
				<div class="row">
					<div class="col-md-3">
						<mat-form-field>
							<mat-label>Search in table</mat-label>
							<input matInput (keyup)="applyFilter_States($event)" placeholder="Ex. ium">
						</mat-form-field>
					</div>
				</div>
				<div class="example-container ">
					<div class="example-loading-shade" *ngIf="isLoadingResults">
						<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
					</div>
					<div class="example-table-container">
						<mat-table #mattbl_States [dataSource]="States" matSort>

							<!-- Position Column -->
							<ng-container matColumnDef="id">
								<mat-header-cell *matHeaderCellDef class="mat-column-id"> Id. </mat-header-cell>
								<mat-cell *matCellDef="let element" class="mat-column-id"> {{element.id}} </mat-cell>
							</ng-container>

							<!-- Position Column -->
							<ng-container matColumnDef="vid">
								<mat-header-cell *matHeaderCellDef class="mat-column-id"> Vender Id. </mat-header-cell>
								<mat-cell *matCellDef="let element" class="mat-column-id"> {{element.vid}} </mat-cell>
							</ng-container>

							<!-- Name Column -->
							<ng-container matColumnDef="name">
								<mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
								<mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
							</ng-container>

							<!-- Action Column -->
							<ng-container matColumnDef="actions">
								<mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
								<mat-cell *matCellDef="let element">

									<button mat-icon-button color="primary" matTooltip="Edit customer" (click)="editelement(element,2)">
										<mat-icon>create</mat-icon>
									</button>&nbsp;

									<button mat-icon-button color="warn" matTooltip="Delete element" type="button" (click)="RemoveState(element)">
										<mat-icon>delete</mat-icon>
									</button>&nbsp;

								</mat-cell>
							</ng-container>


							<mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
							<mat-row *matRowDef="let row; columns: displayedColumns;">></mat-row>
						</mat-table>
						<mat-paginator #mat_pag_States [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
					</div>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<div class="col-md-4">
		<kt-portlet>
			<kt-portlet-header [class]="'kt-portlet__head--lg'">
				<ng-container ktPortletTitle>
					<h3 class="kt-portlet__head-title">
						<span>Countries list</span>
					</h3>
				</ng-container>
				<ng-container ktPortletTools>

					<button (click)="openDialog(3)" mat-raised-button matTooltip="Create new Country" color="primary" type="button">
						<span>New Country</span>
					</button>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>
				<div class="row">
					<div class="col-md-3">
						<mat-form-field>
							<mat-label>Search in table</mat-label>
							<input matInput (keyup)="applyFilter_Countrys($event)" placeholder="Ex. ium">
						</mat-form-field>
					</div>
				</div>
				<div class="example-container ">
					<div class="example-loading-shade" *ngIf="isLoadingResults">
						<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
					</div>
					<div class="example-table-container">
						<mat-table #mattbl_Countrys [dataSource]="Countrys" matSort>

							<!-- Position Column -->
							<ng-container matColumnDef="id">
								<mat-header-cell *matHeaderCellDef class="mat-column-id"> Id. </mat-header-cell>
								<mat-cell *matCellDef="let element" class="mat-column-id"> {{element.id}} </mat-cell>
							</ng-container>

							<!-- Position Column -->
							<ng-container matColumnDef="vid">
								<mat-header-cell *matHeaderCellDef class="mat-column-id"> Vender Id. </mat-header-cell>
								<mat-cell *matCellDef="let element" class="mat-column-id"> {{element.vid}} </mat-cell>
							</ng-container>

							<!-- Name Column -->
							<ng-container matColumnDef="name">
								<mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
								<mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
							</ng-container>

							<!-- Action Column -->
							<ng-container matColumnDef="actions">
								<mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
								<mat-cell *matCellDef="let element">

									<button mat-icon-button color="primary" matTooltip="Edit customer" (click)="editelement(element,3)">
										<mat-icon>create</mat-icon>
									</button>&nbsp;

									<button mat-icon-button color="warn" matTooltip="Delete element" type="button" (click)="RemoveCountry(element)">
										<mat-icon>delete</mat-icon>
									</button>&nbsp;

								</mat-cell>
							</ng-container>


							<mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
							<mat-row *matRowDef="let row; columns: displayedColumns;">></mat-row>
						</mat-table>
						<mat-paginator #mat_pag_Countrys [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
					</div>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>

</div>
