<kt-portlet>
	<kt-portlet-header [class]="'kt-portlet__head--lg'">
		<ng-container ktPortletTitle>
			<h3 class="kt-portlet__head-title">
				<span>Customer list</span>
			</h3>
		</ng-container>
		<ng-container ktPortletTools>

			<span></span>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<div class="row">
			<div class="col-md-3">
				<mat-form-field>
					<mat-label>Search in table</mat-label>
					<input matInput (keyup)="applyFilter_user($event)" placeholder="Ex. ium">
				</mat-form-field>
			</div>
		</div>
		<div class="example-container ">
			<div class="example-loading-shade" *ngIf="isLoadingResults">
				<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
			</div>
			<div class="example-table-container">
				<mat-table #mattbl_user [dataSource]="dataSource_user" matSort>

					<!-- Column -->
					<ng-container matColumnDef="userName">
						<mat-header-cell *matHeaderCellDef> User Name </mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.userName}} </mat-cell>
					</ng-container>

					<!-- Column -->
					<ng-container matColumnDef="firstName">
						<mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
					</ng-container>

					<!-- Column -->
					<ng-container matColumnDef="lastName">
						<mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
					</ng-container>

					<!-- Column -->
					<ng-container matColumnDef="gender">
						<mat-header-cell *matHeaderCellDef mat-sort-header class="" > Gender </mat-header-cell>
						<mat-cell *matCellDef="let element" class="">
							<span *ngIf="element.gender" class="kt-badge kt-badge--success kt-badge--inline kt-badge--pill">Male</span>
							<span *ngIf="!element.gender" class="kt-badge kt-badge--danger kt-badge--inline kt-badge--pill">Female</span>
						</mat-cell>
					</ng-container>

					<!-- Column -->
					<ng-container matColumnDef="contactNumber">
						<mat-header-cell *matHeaderCellDef > Contact Number </mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.contactNumber}} </mat-cell>
					</ng-container>

					<!-- Column -->
					<ng-container matColumnDef="email">
						<mat-header-cell *matHeaderCellDef > Email </mat-header-cell>
						<mat-cell *matCellDef="let element" > {{element.email}} </mat-cell>
                    </ng-container>
                    
					<!-- Column -->
					<ng-container matColumnDef="dob">
						<mat-header-cell *matHeaderCellDef > Dob </mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.dob | date}} </mat-cell>
					</ng-container>

					
					<mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
				</mat-table>

				<mat-paginator #mat_pag_user [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
			</div>
		</div>
	</kt-portlet-body>
</kt-portlet>
